.footer__inner, .programms-list, .nav__list, .nav, .logo__link, .header__inner, .section__content_about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.contacts__item, .hero__keypad {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.template__item, .programms-list__item, .image_about, .burger, .nav__link, .link-icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__inner, .section__content_programms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section__inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

/* *** CONTAINER *** */
.container {
  width: 1600px;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 1600px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

/* *** BUTTON *** */
.button {
  font-size: 24px;
  padding: 18px 36px;
  border-radius: 6px;
  background-color: #fff;
  transition-duration: 0.3s;
}
.button:hover {
  background-color: #8ab446;
  color: #fff;
}
.button:active {
  transform: scale(0.95);
}
@media (max-width: 1600px) {
  .button {
    font-size: 18px;
    padding: 16px 32px;
  }
}
@media (max-width: 1024px) {
  .button {
    font-size: 16px;
    padding: 14px 28px;
  }
}
@media (max-width: 315px) {
  .button {
    font-size: 14px;
    padding: 12px 24px;
  }
}

.button_hero {
  margin-right: 12px;
}

/* *** LINK-ICON *** */
.link-icon {
  background: none;
  transition-duration: 0.3s;
}
.link-icon:hover {
  transform: scale(1.1);
}
.link-icon:not(:last-child) {
  margin-right: 12px;
}

.link-icon__link {
  width: 56px;
  height: 56px;
  background: none;
}
@media (max-width: 1024px) {
  .link-icon__link {
    width: 48px;
    height: 48px;
  }
}

.link-icon__img {
  width: 100%;
  height: 100%;
}

/* *** SECTION *** */
.section {
  height: 50vh;
  padding: 48px 0;
}
@media (max-width: 1600px) {
  .section {
    height: 100vh;
    padding: 48px 0;
  }
}
@media (max-width: 1024px) {
  .section {
    padding: 32px 0;
    height: auto;
  }
}

.section_programms {
  background-color: rgba(211, 226, 157, 0.3137254902);
  background: linear-gradient(45deg, #a1ffce, #f9ffd1);
  background: linear-gradient(to right, rgba(75, 123, 211, 0.5), rgba(22, 215, 177, 0.3)), url("../img/bg/lines_bg.webp");
  background-position: center center;
  background-size: cover;
}

.section_template {
  background: linear-gradient(to right, rgba(226, 226, 226, 0.5), rgba(16, 119, 99, 0.3)), url("../img/bg/temp_bg.webp");
  background-position: center center;
  background-size: cover;
}
@media (max-width: 1024px) {
  .section_template {
    background: linear-gradient(to right, rgba(226, 226, 226, 0.5), rgba(16, 119, 99, 0.3)), url("../img/bg/mobile_bg.jpg");
  }
}

.section_contacts {
  background: linear-gradient(45deg, #30cfd0, #330867);
  color: #fff;
}

.section__inner {
  height: 100%;
}

.section__inner_template {
  justify-content: center;
}

.section__title {
  margin-bottom: 32px;
  text-align: center;
  font-size: 48px;
}
@media (max-width: 1024px) {
  .section__title {
    margin-bottom: 32px;
    font-size: 42px;
  }
}

.section__content {
  flex: 1;
  position: relative;
}

@media (max-width: 1440px) {
  .section__content_about {
    justify-content: center;
  }
}

.section__content_programms {
  flex: 1;
}
@media (max-width: 768px) {
  .section__content_programms {
    align-items: center;
  }
}

.section__content_template {
  align-items: center;
  width: 100%;
}

/* *** HEADER *** */
.header {
  background-color: #fff;
  height: 80px;
  width: 100%;
  position: relative;
}

.header__inner {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

/* *** LOGO *** */
.logo {
  transition-duration: 0.3s;
}
.logo:active {
  transform: scale(0.999);
}
.logo:hover .logo__title {
  color: #232323;
}
.logo:hover .logo__descr {
  color: #424242;
}
.logo:hover .logo__rect {
  background-color: #323232;
}

.logo__rect {
  width: 4px;
  height: 48px;
  border-radius: 4px;
  background-color: #2d6b22;
  margin-right: 0.4rem;
  transition-duration: 0.3s;
}
@media (max-width: 1024px) {
  .logo__rect {
    height: 38px;
  }
}

.logo__title {
  font-size: 22px;
  color: #072a16;
  transition-duration: 0.3s;
}
@media (max-width: 1024px) {
  .logo__title {
    font-size: 18px;
  }
}

.logo__descr {
  font-size: 16px;
  color: #8ab446;
  transition-duration: 0.3s;
}
@media (max-width: 1024px) {
  .logo__descr {
    font-size: 14px;
  }
}

/* *** NAVIGATION *** */
.nav {
  height: 100%;
}

.nav__list {
  height: 100%;
}

@media (max-width: 768px) {
  .nav__list_desctop {
    display: none;
  }
}

.nav__drawer {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
  -webkit-animation: drop-drawer linear 0.5s;
          animation: drop-drawer linear 0.5s;
}

@-webkit-keyframes drop-drawer {
  from {
    max-height: 0;
  }
  to {
    max-height: 300px;
  }
}

@keyframes drop-drawer {
  from {
    max-height: 0;
  }
  to {
    max-height: 300px;
  }
}
@-webkit-keyframes up-drawer {
  from {
    max-height: 300px;
  }
  to {
    max-height: 0;
  }
}
@keyframes up-drawer {
  from {
    max-height: 300px;
  }
  to {
    max-height: 0;
  }
}
.nav__drawer_open {
  display: block;
}

.nav__drawer_close {
  -webkit-animation: up-drawer linear 0.5s;
          animation: up-drawer linear 0.5s;
}

.nav__list_mobile {
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-color: #fff;
}

.nav__item {
  height: 100%;
}

.nav__item_mobile {
  width: 100%;
}

.nav__link {
  height: 100%;
  border-bottom: 3px solid transparent;
  transition-duration: 0.3s;
  padding: 0.5rem 0.5rem;
  font-size: 18px;
  color: #072a16;
}
.nav__link:hover {
  border-bottom: 3px solid #072a16;
}

.nav__link_mobile {
  border-bottom: none;
}
.nav__link_mobile:hover {
  border-bottom: none;
  background-color: #8ab446;
  color: #fff;
}
.nav__link_mobile:active {
  border-bottom: none;
  background-color: #8ab446;
  color: #fff;
}

/* *** BURGER  *** */
.burger {
  flex-direction: column;
  display: none;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .burger {
    display: flex;
  }
}

.burger_active .burger__line:last-child {
  display: none;
}
.burger_active .burger__line:nth-child(1) {
  transform: rotate(45deg) translateY(3.5px);
}
.burger_active .burger__line:nth-child(2) {
  transform: rotate(-45deg) translateY(-3px);
}

.burger__line {
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: #2d6b22;
  transition-duration: 0.5s;
}
.burger__line:not(:last-child) {
  margin-bottom: 3px;
}

/* *** HERO *** */
.hero {
  width: 100%;
  height: calc(50vh - 80px);
  background: linear-gradient(to right, rgba(21, 21, 62, 0.764), rgba(30, 30, 30, 0.495)), url("../img/bg/hero_bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1600px) {
  .hero {
    height: calc(100vh - 80px);
  }
}

.hero__inner {
  height: 100%;
}
@media (max-width: 675px) {
  .hero__inner {
    align-items: center;
    text-align: center;
  }
}

.hero__title {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 56px;
  }
}

.hero__subtitle {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  padding: 24px 0px 32px;
}
@media (max-width: 1024px) {
  .hero__subtitle {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .hero__subtitle {
    font-size: 26px;
  }
}

@media (max-width: 680px) {
  .hero__keypad {
    justify-content: center;
  }
}

/* *** TEXT  *** */
.text_about {
  margin-right: 24px;
  width: 60%;
}
@media (max-width: 1440px) {
  .text_about {
    width: 40%;
    text-align: center;
    margin-right: 0;
    width: 100%;
    justify-self: center;
  }
}

.text_programms {
  transform: translateY(-40px);
}
@media (max-width: 1440px) {
  .text_programms {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .text_programms {
    text-align: center;
  }
}

.text__title {
  font-size: 28px;
}
@media (max-width: 1440px) {
  .text__title {
    margin-bottom: 24px;
    font-size: 36px;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .text__title {
    text-align: center;
    font-size: 28px;
  }
}

.text__paragraph {
  font-size: 22px;
  line-height: 32px;
  padding: 12px 0;
}

@media (max-width: 1440px) {
  .text__paragraph_about {
    text-align: left;
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .text__paragraph_about {
    text-align: center;
    font-size: 22px;
  }
}

/* *** IMAGE *** */
.image_about {
  align-self: center;
}
@media (max-width: 1440px) {
  .image_about {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    opacity: 0.3;
    z-index: -1;
  }
}
@media (max-width: 1024px) {
  .image_about {
    transform: translate(-40%, -50%);
  }
}

@media (max-width: 1440px) {
  .image_img {
    width: 250px;
    height: 350px;
  }
}
@media (max-width: 1024px) {
  .image_img {
    width: 200px;
    height: 300px;
  }
}

/* *** PROGRAMMS-LIST *** */
.programms-list {
  width: 100%;
  flex: 1;
}
@media (max-width: 768px) {
  .programms-list {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.programms-list__item {
  background-color: rgba(255, 255, 255, 0.3137254902);
  padding: 12px 0;
  border-radius: 6px;
  width: 180px;
  height: 180px;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.programms-list__item:hover {
  transform: scale(0.9);
}
.programms-list__item:hover .programms-list__img {
  transform: scale(1.2);
}
@media (max-width: 1260px) {
  .programms-list__item {
    width: 145px;
    height: 145px;
    margin-bottom: 48px;
  }
}
@media (max-width: 1024px) {
  .programms-list__item {
    width: 125px;
    height: 125px;
  }
}
@media (max-width: 920px) {
  .programms-list__item {
    width: 105px;
    height: 105px;
  }
}
@media (max-width: 768px) {
  .programms-list__item {
    height: 180px;
    width: 180px;
    padding: 12px 0;
  }
}
@media (max-width: 425px) {
  .programms-list__item {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 360px) {
  .programms-list__item {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 300px) {
  .programms-list__item {
    width: 115px;
    height: 115px;
  }
}

.programms-list__img {
  width: 150px;
  height: 150px;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
@media (max-width: 1260px) {
  .programms-list__img {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 1024px) {
  .programms-list__img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 920px) {
  .programms-list__img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 768px) {
  .programms-list__img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 360px) {
  .programms-list__img {
    width: 110px;
    height: 110px;
  }
}
@media (max-width: 300px) {
  .programms-list__img {
    width: 100px;
    height: 100px;
  }
}

/* *** TEMPLATE *** */
.template {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}
@media (max-width: 768px) {
  .template {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 425px) {
  .template {
    grid-template-columns: 1fr;
  }
}

.template__item {
  width: 100%;
  height: 260px;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.template__item:last-child {
  grid-column: 1/span 3;
}
@media (max-width: 1024px) {
  .template__item {
    height: 200px;
  }
}
@media (max-width: 768px) {
  .template__item:last-child {
    grid-column: 2;
  }
}
@media (max-width: 425px) {
  .template__item:last-child {
    grid-column: 1;
  }
}

.template__title {
  font-size: 24px;
}

/* *** CONTACTS *** */
.contacts__item {
  padding: 12px 0px;
  cursor: pointer;
  font-size: 24px;
}
@media (max-width: 425px) {
  .contacts__item {
    font-size: 18px;
  }
}

.contacts__link {
  color: #fff;
}

.contacts__icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  background-color: #fff;
  padding: 2px;
  border-radius: 50%;
}
@media (max-width: 425px) {
  .contacts__icon {
    font-size: 18px;
    width: 28px;
    height: 28px;
  }
}

.contacts__map {
  margin-top: 24px;
  box-shadow: 0px 0px 0px 14px rgba(231, 232, 232, 0.09);
}
.contacts__map iframe {
  height: 300px;
  border: none;
  width: 100%;
}
@media (max-width: 425px) {
  .contacts__map iframe {
    height: 250px;
  }
}

/* *** FOOTER *** */
.footer {
  height: 80px;
  background-color: #fff;
}

.footer__inner {
  height: 100%;
}/*# sourceMappingURL=style.css.map */