@import "./vars.scss";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff;
  position: relative;
}

a {
  text-decoration: none;
  color: $color_prim;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* *** CONTAINER *** */
.container {
  width: 1600px;
  margin: 0 auto;
  height: 100%;

  @media (max-width: 1600px) {
    width: 1200px;
  }

  @media (max-width: 1440px) {
    width: 90%;
  }
}

/* *** MODAL *** */
.modal {
  @extend %flex-center;
  position: relative;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000080;
  z-index: 20;
}

.modal_active {
  display: flex;
}

.modal__box {
  @extend %flex-center;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;

  @media (max-width: 1024px) {
    padding: 20px;
  }

  @media (max-width: 768px) {
    padding: 10px;
  }

  @media (max-width: 680px) {
    padding: 6px;
  }
}

/* *** SLIDER *** */
.slider {
  position: relative;
  width: 1200px;
  height: 600px;
  overflow: hidden;

  @media (max-width: 1440px) {
    width: 1000px;
  }

  @media (max-width: 1320px) {
    width: 960px;
  }

  @media (max-width: 1200px) {
    width: 900px;
  }

  @media (max-width: 1024px) {
    width: 800px;
  }

  @media (max-width: 896px) {
    width: 700px;
  }

  @media (max-width: 768px) {
    width: 600px;
  }

  @media (max-width: 680px) {
    width: 500px;
    height: 500px;
  }

  @media (max-width: 580px) {
    width: 400px;
    height: 400px;
  }

  @media (max-width: 425px) {
    width: 300px;
    height: 300px;
  }
}

.slider__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #00000050;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.3s;
  z-index: 10;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    background-color: #00000070;
  }

  &:active {
    background-color: #00000090;
  }

  svg {
    fill: #fff;
    transform: translateY(2px);

    @media (max-width: 768px) {
      transform: translateY(2px);
    }
  }

  @media (max-width: 768px) {
    padding: 10px;
  }

  @media (max-width: 580px) {
  }

  @media (max-width: 425px) {
    padding: 5px;
  }
}

.slider__arrow_disable {
  display: none;
}

.slider__arrow_prev {
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  left: 10px;

  @media (max-width: 768px) {
    top: 0%;
    transform: translate(-50%, 20%) rotate(90deg);
    left: 50%;
  }

  @media (max-width: 580px) {
    top: 0;
    left: 50%;
  }
}

.slider__arrow_next {
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  right: 10px;

  @media (max-width: 768px) {
    transform: translate(50%, -120%) rotate(-90deg);
    top: 100%;
    right: 50%;
  }
}

.slider__inner {
  display: flex;
  transition-duration: 0.3s;
}

.slider__item {
  flex-shrink: 0;
  width: 100%;
  height: 600px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 12px;

  @media (max-width: 680px) {
    height: 500px;
  }

  @media (max-width: 580px) {
    height: 400px;
  }

  @media (max-width: 580px) {
    height: 400px;
  }

  @media (max-width: 425px) {
    height: 300px;
  }
}

/* *** BUTTON *** */
.button {
  font-size: 24px;
  padding: 18px 36px;
  border-radius: 6px;
  background-color: #fff;
  transition-duration: $duration;

  &:hover {
    background-color: $green-light;
    color: #fff;
  }

  &:active {
    transform: scale(0.95);
  }

  @media (max-width: 1600px) {
    font-size: 18px;
    padding: 16px 32px;
  }

  @media (max-width: 1024px) {
    font-size: 16px;
    padding: 14px 28px;
  }

  @media (max-width: 315px) {
    font-size: 14px;
    padding: 12px 24px;
  }
}

.button_hero {
  margin-right: 12px;
}

/* *** SCROLL-TO-TOP * ***/
.scroll-to-top {
  @extend %flex-colum-center-center;
  display: none;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100px;
  background-color: #00000020;
  cursor: pointer;
  transition-duration: $duration;
  z-index: 10;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  svg {
    fill: #00000050;
  }

  span {
    color: #00000050;
  }

  &:hover {
    background-color: #ffffff85;

    svg {
      fill: #00000099;
    }

    span {
      color: #00000099;
    }
  }

  &:active {
    background-color: #ffffff;
  }

  @media (max-width: 1260px) {
    height: 64px;
    width: 64px;
    left: 10px;
    border-radius: 50%;
    top: auto;
    bottom: 10px;

    span {
      display: none;
    }
  }
}

.scroll-to-top_active {
  display: flex;
}

/* *** LINK-ICON *** */
.link-icon {
  background: none;
  transition-duration: $duration;

  &:hover {
    transform: scale(1.1);
  }

  &:not(:last-child) {
    margin-right: 12px;
  }
}

.link-icon__link {
  @extend %flex-center;
  width: 56px;
  height: 56px;
  background: none;

  @media (max-width: 1024px) {
    width: 48px;
    height: 48px;
  }
}

.link-icon__img {
  width: 100%;
  height: 100%;
}

/* *** SECTION *** */
.section {
  height: 50vh;
  padding: 48px 0;

  @media (max-width: 1600px) {
    height: 100vh;
    padding: 48px 0;
  }

  @media (max-width: 1024px) {
    padding: 32px 0;
    height: auto;
  }
}

.section_programms {
  background-color: #d3e29d50;
  background: linear-gradient(45deg, #a1ffce, #f9ffd1);
  background: linear-gradient(
      to right,
      rgba(75, 123, 211, 0.5),
      rgba(22, 215, 177, 0.3)
    ),
    url("../img/bg/lines_bg.webp");
  background-position: center center;
  background-size: cover;
}

.section_template {
  background: linear-gradient(
      to right,
      rgba(226, 226, 226, 0.5),
      rgba(16, 119, 99, 0.3)
    ),
    url("../img/bg/temp_bg.webp");
  background-position: center center;
  background-size: cover;

  @media (max-width: 1024px) {
    background: linear-gradient(
        to right,
        rgba(226, 226, 226, 0.5),
        rgba(16, 119, 99, 0.3)
      ),
      url("../img/bg/mobile_bg.jpg");
  }
}

.section_contacts {
  background: linear-gradient(45deg, #30cfd0, #330867);
  color: #fff;
}

.section__inner {
  @extend %flex-colum-start-center;
  height: 100%;
}

.section__inner_template {
  justify-content: center;
}

.section__title {
  margin-bottom: 32px;
  text-align: center;
  font-size: 48px;

  @media (max-width: 1024px) {
    margin-bottom: 32px;
    font-size: 42px;
  }
}

.section__content {
  @extend %flex-between-start;
  flex: 1;
  position: relative;
}

.section__content_about {
  @extend %flex-between-center;

  @media (max-width: 1440px) {
    justify-content: center;
  }
}

.section__content_programms {
  @extend %flex-colum-center-start;
  flex: 1;

  @media (max-width: 768px) {
    align-items: center;
  }
}

.section__content_template {
  align-items: center;
  width: 100%;
}

/* *** HEADER *** */
.header {
  background-color: #fff;
  height: 80px;
  width: 100%;
  position: relative;
}

.header__inner {
  @extend %flex-between-center;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

/* *** LOGO *** */
.logo {
  transition-duration: $duration;

  &:active {
    transform: scale(0.999);
  }
  &:hover {
    .logo__title {
      color: #232323;
    }

    .logo__descr {
      color: #424242;
    }

    .logo__rect {
      background-color: #323232;
    }
  }
}

.logo__link {
  @extend %flex-between-center;
}

.logo__rect {
  width: 4px;
  height: 48px;
  border-radius: 4px;
  background-color: $green;
  margin-right: 0.4rem;
  transition-duration: $duration;

  @media (max-width: 1024px) {
    height: 38px;
  }
}

.logo__title {
  font-size: 22px;
  color: $green-dark;
  transition-duration: $duration;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}

.logo__descr {
  font-size: 16px;
  color: $green-light;
  transition-duration: $duration;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

/* *** NAVIGATION *** */
.nav {
  @extend %flex-between-center;
  height: 100%;
}

.nav__list {
  @extend %flex-between-center;
  height: 100%;
}

.nav__list_desctop {
  @media (max-width: 768px) {
    display: none;
  }
}

.nav__drawer {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
  animation: drop-drawer linear 0.5s;
}

@keyframes drop-drawer {
  from {
    max-height: 0;
  }

  to {
    max-height: 300px;
  }
}

@keyframes up-drawer {
  from {
    max-height: 300px;
  }

  to {
    max-height: 0;
  }
}

.nav__drawer_open {
  display: block;
}

.nav__drawer_close {
  animation: up-drawer linear 0.5s;
}

.nav__list_mobile {
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-color: #fff;
}

.nav__item {
  height: 100%;
}

.nav__item_mobile {
  width: 100%;
}

.nav__link {
  @extend %flex-center;
  height: 100%;
  border-bottom: 3px solid transparent;
  transition-duration: $duration;
  padding: 0.5rem 0.5rem;
  font-size: 18px;
  color: $green-dark;

  &:hover {
    border-bottom: 3px solid $green-dark;
  }
}

.nav__link_mobile {
  border-bottom: none;

  &:hover {
    border-bottom: none;
    background-color: $green-light;
    color: #fff;
  }

  &:active {
    border-bottom: none;
    background-color: $green-light;
    color: #fff;
  }
}

/* *** BURGER  *** */
.burger {
  @extend %flex-center;
  flex-direction: column;
  display: none;
  height: 100%;
  width: 100%;

  @media (max-width: 768px) {
    display: flex;
  }
}

.burger_active {
  .burger__line:last-child {
    display: none;
  }

  .burger__line:nth-child(1) {
    transform: rotate(45deg) translateY(3.5px);
  }

  .burger__line:nth-child(2) {
    transform: rotate(-45deg) translateY(-3px);
  }
}

.burger__line {
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: $green;
  transition-duration: 0.5s;

  &:not(:last-child) {
    margin-bottom: 3px;
  }
}

/* *** HERO *** */
.hero {
  width: 100%;
  height: calc(50vh - 80px);
  background: linear-gradient(
      to right,
      rgba(21, 21, 62, 0.764),
      rgba(30, 30, 30, 0.495)
    ),
    url("../img/bg/hero_bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1600px) {
    height: calc(100vh - 80px);
  }
}

.hero__inner {
  @extend %flex-colum-center-start;
  height: 100%;

  @media (max-width: 675px) {
    align-items: center;
    text-align: center;
  }
}

.hero__title {
  color: #fff;
  font-size: 72px;
  font-weight: 700;

  @media (max-width: 1024px) {
    font-size: 56px;
  }
}

.hero__subtitle {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  padding: 24px 0px 32px;

  @media (max-width: 1024px) {
    font-size: 28px;
  }

  @media (max-width: 768px) {
    font-size: 26px;
  }
}

.hero__keypad {
  @extend %flex-start-center;

  @media (max-width: 680px) {
    justify-content: center;
  }
}

/* *** TEXT  *** */
.text_about {
  margin-right: 24px;
  width: 60%;

  @media (max-width: 1440px) {
    width: 40%;
    text-align: center;
    margin-right: 0;
    width: 100%;
    justify-self: center;
  }
}

.text_programms {
  transform: translateY(-40px);

  @media (max-width: 1440px) {
    transform: translateY(0);
  }

  @media (max-width: 768px) {
    text-align: center;
  }
}

.text__title {
  font-size: 28px;

  @media (max-width: 1440px) {
    margin-bottom: 24px;
    font-size: 36px;
    text-align: left;
  }

  @media (max-width: 768px) {
    text-align: center;
    font-size: 28px;
  }
}

.text__paragraph {
  font-size: 22px;
  line-height: 32px;
  padding: 12px 0;
}

.text__paragraph_about {
  @media (max-width: 1440px) {
    text-align: left;
    font-size: 28px;
  }

  @media (max-width: 768px) {
    text-align: center;
    font-size: 22px;
  }
}

/* *** IMAGE *** */
.image_about {
  @extend %flex-center;
  align-self: center;

  @media (max-width: 1440px) {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    opacity: 0.3;
    z-index: -1;
  }

  @media (max-width: 1024px) {
    transform: translate(-40%, -50%);
  }
}

.image_img {
  @media (max-width: 1440px) {
    width: 250px;
    height: 350px;
  }

  @media (max-width: 1024px) {
    width: 200px;
    height: 300px;
  }
}

/* *** PROGRAMMS-LIST *** */
.programms-list {
  @extend %flex-between-center;
  width: 100%;
  flex: 1;

  @media (max-width: 768px) {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.programms-list__item {
  @extend %flex-center;
  background-color: #ffffff50;
  padding: 12px 0;
  border-radius: 6px;
  width: 180px;
  height: 180px;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    transform: scale(0.9);

    .programms-list__img {
      transform: scale(1.2);
    }
  }

  @media (max-width: 1260px) {
    width: 145px;
    height: 145px;
    margin-bottom: 48px;
  }

  @media (max-width: 1024px) {
    width: 125px;
    height: 125px;
  }

  @media (max-width: 920px) {
    width: 105px;
    height: 105px;
  }

  @media (max-width: 768px) {
    height: 180px;
    width: 180px;
    padding: 12px 0;
  }

  @media (max-width: 425px) {
    width: 150px;
    height: 150px;
  }

  @media (max-width: 360px) {
    width: 130px;
    height: 130px;
  }

  @media (max-width: 300px) {
    width: 115px;
    height: 115px;
  }
}

.programms-list__img {
  width: 150px;
  height: 150px;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  @media (max-width: 1260px) {
    width: 130px;
    height: 130px;
  }

  @media (max-width: 1024px) {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 920px) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: 768px) {
    width: 150px;
    height: 150px;
  }

  @media (max-width: 360px) {
    width: 110px;
    height: 110px;
  }

  @media (max-width: 300px) {
    width: 100px;
    height: 100px;
  }
}

/* *** TEMPLATE *** */
.template {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 425px) {
    grid-template-columns: 1fr;
  }
}

.template__item {
  @extend %flex-center;
  width: 100%;
  height: 260px;
  background-color: #00000080;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  text-shadow: 2px 3px 5px #333333;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &:last-child {
    grid-column: 1 / span 3;
  }

  &:nth-child(1) {
    background-image: url("../img/works/photos/photo1.png");
  }

  &:nth-child(2) {
    background-image: url("../img/works/logos/logo1.png");
  }

  &:nth-child(3) {
    background-image: url("../img/works/animations/an1.gif");
  }

  &:nth-child(4) {
    background-image: url("../img/works/visuals/vis1.png");
  }

  @media (max-width: 1024px) {
    height: 200px;
  }

  @media (max-width: 768px) {
    &:last-child {
      grid-column: 2;
    }
  }

  @media (max-width: 425px) {
    &:last-child {
      grid-column: 1;
    }
  }
}

.temp__filter {
  @extend %flex-center;
  background-color: #00000050;
  width: 100%;
  height: 100%;
  transition-duration: $duration;
  backdrop-filter: blur(2px);
  border-radius: 6px;

  &:hover {
    background-color: #00000030;
  }
}

.template__title {
  font-size: 24px;
}

/* *** CONTACTS *** */
.contacts__item {
  @extend %flex-start-center;
  padding: 12px 0px;
  cursor: pointer;
  font-size: 24px;
  transition-duration: $duration;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:active {
    transform: scale(0.98);
  }

  @media (max-width: 425px) {
    font-size: 18px;
  }
}

.contacts__link {
  color: #fff;
}

.contacts__icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  background-color: #fff;
  padding: 2px;
  border-radius: 50%;

  @media (max-width: 425px) {
    font-size: 18px;
    width: 28px;
    height: 28px;
  }
}

.contacts__map {
  margin-top: 24px;
  -webkit-box-shadow: 0px 0px 0px 14px rgba(231, 232, 232, 0.09);
  -moz-box-shadow: 0px 0px 0px 14px rgba(231, 232, 232, 0.09);
  box-shadow: 0px 0px 0px 14px rgba(231, 232, 232, 0.09);

  iframe {
    height: 300px;
    border: none;
    width: 100%;

    @media (max-width: 425px) {
      height: 250px;
    }
  }
}

/* *** FOOTER *** */
.footer {
  height: 80px;
  background-color: #fff;
}

.footer__inner {
  @extend %flex-between-center;
  height: 100%;
}