$color_prim: #000;
$green: #2d6b22;
$green-light: #8ab446;
$green-dark: #072a16;

$duration: 0.3s;

%flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

%flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-colum-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

%flex-colum-between-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

%flex-colum-start-center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

%flex-colum-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}